# .gitignore

# Python
*.pyc
*.pyo
__pycache__/

# Environment
.env
.env.db
.venv/
env/
venv/
ENV/

# Django
*.sqlite3
db.sqlite3
/media

# Pytest
.pytest_cache/

# Migrations
*/migrations/*.pyc
*/migrations/*.py
*/migrations/*.pyo

# vectorstore files
vectorstore/

# Ignore IDE settings (for PyCharm/VSCode, if needed)
.idea/
.vscode/

